body {
  display: flex;
  background-image: url('/estilos/imagenes/vetFondo.avif');
  background-size: cover;
  height: 100vh;
  margin: auto;
  padding: auto;
  overflow: hidden;
  color: #074252;
  text-align: center;

}
.contenedor_principal {
  padding: 50px;
  margin: auto;

}
#img1 {
  display: flex;
  padding: 10%
}
.contenedor2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 0;
  padding: 24px;
}
.contenedor3 {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 12px;
  padding: 5px;
 }
 button{
  background-color:rgb(40, 114, 114);
  border-radius: 20px;
  width: 100px;
  margin: auto;
}
 #logo {
   display: block;
   margin: auto
 }
 #ingresar {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
 }